<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>452F8DEC-736A-4038-AFBC-DA6DE202BE9B</string>
				<string>52AE7D76-B0DC-4503-8ABF-AE3577DF63C7</string>
				<string>758DE83F-EF4E-4786-A325-CC1F9BCAAF01</string>
				<string>7B8A9269-ABFD-4690-AD64-6C4D004BA556</string>
				<string>9127CDC7-DA21-4FE6-B7CF-F28D2DBC1AAD</string>
				<string>9ED40C8E-32F4-49F1-840E-44A16059B2C2</string>
				<string>E1209C05-558E-4DC9-A8B8-84F129DF1C78</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Resources</string>
</dict>
</plist>
